<html>
    <head>
        <meta charset= "UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link
            rel="stylesheet" 
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        >
        <link rel="stylesheet" href="/css/style.css">
        <title>Book Review Application</title>
    </head>
    <body>
        <section id="navbar-section">
            <nav class="navbar col-3 justify-content-between">
                <a href="/" id="home-link"> Home Page</a>
                <a href="/create-review" id="dashboard-link">Dashboard</a>
                <a id="login-logout-link"></a>
            </nav>
        </section>
        <section id="main-heading">
            <h1>Book Review Application</h1>
        </section>
        <main>
            {{{body}}}
        </main>
    </body>
</html>