<form id="create-review-form" class="custom-add-review-form">
    <section class="field">
        <label for="review-title" class="label">Title</label>
        <section class="control">
            <input id="review-title" class="input" type="text" placeholder="Insert review title here...">
        </section>
    </section>

    <section class="field">
        <label for="review-content" class="label">Content</label>
        <section class="control">
            <textarea id="review-content" class="textarea" type="text" placeholder="Insert review here..."></textarea>
        </section>
    </section>
    <section class="custom-create-new-review-form">
        {{#if newElement}}
            <button id="create-new-review-button" class="button" data-book-Id="{{{book.id}}}" data-user-Id="{{{loggedInUser.id}}}">Post Review</button>
        {{else}}
            <button id="update-review-button" class="button">Update Review</button>
            <button id="delete-review-button" class="button">Delete Review</button>
        {{/if}}
    </section>
</form>

<script src="/js/create-update-delete.js"></script>
