{{!-- Review form  --}}
<form id="create-review-form" class="custom-add-review-form">
    <div class="field">
        <label for="new-review-title" class="label">Title</label>
        <div class="control">
            <input id="new-review-title" class="input" type="text" placeholder="Insert review title here...">
        </div>
    </div>

    <div class="field">
        <label for="new-review-content" class="label">Content</label>
        <div class="control">
            <textarea id="new-review-content" class="textarea" type="text" placeholder="Insert review here..."></textarea>
        </div>
    </div>

    <div class="custom-create-new-review-form">
        <button id="create-new-review-button" class="button">Post</button>
    </div>
</form>

<script src="/js/create-review.js"></script>






{{!-- <section id="review-container-outer">
    <section id="review-container-inner">
        <section id="title-container">
            <h2>{{{createOrEditReview}}}</h2>
            <h1>testing</h1>
        </section>

        {{!-- I, Gabriel, reused most of this code from my module 14 challenge. --}}
        <label for="title" class="d-block  ml-2">Title:</label>
        <input type="text" id="title" class="col-9 d-block ml-2">
        <label for="content"class="d-block mt-2 ml-2">Content:</label>
        <textarea type="content" id="password" class="col-9 d-block  ml-2" placeholder="Enter review text here!"></textarea>
        <button id="log-in-sign-up-button" class="col-9 ml-2 mt-2">Create New Review</button>
        <p id="error-message" class="text-center text-danger">{{{errorMessage}}}</p>
    </section>
</section>
<script src="/js/create-review.js"></script> --}}