<section id="review-container-outer">
    <section id="review-container-inner">
        <section id="title-container">
            <h2>{{{createOrEditReview}}}</h2>
        </section>

        {{!-- I, Gabriel, reused most of this code from my module 14 challenge.--}}
        <label for="title" class="d-block  ml-2">Title:</label>
        <input type="text" id="title" class="col-9 d-block ml-2">
        <label for="content"class="d-block mt-2 ml-2">Content:</label>
        <input type="content" id="password" class="col-9 d-block  ml-2">
        <button id="log-in-sign-up-button" class="col-9 ml-2 mt-2">Create New Review</button>
        <p id="error-message" class="text-center text-danger">{{{errorMessage}}}</p>
    </section>
</section>