<section id="books-section">
{{#each books as |book|}}
    <section id="{{{generateUuid}}}">
        <p id="book-title"></p>
            
        <p id="book-text"></p>
    </section>
</section>
{{/each}}