{{!-- Sign Up Form --}}
<section class="hero">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-6-desktop is-6-tablet is-6-widescreen">
                    <div class="has-background-dark custom-top-left-right-border-radius">
                        <h2 class="title is-4 has-text-white has-text-centered custom-padding-4">Sign Up</h2>
                    </div>
                    <form class="box">
                        <div class="field">
                            <label for="username" class="">Username:</label>
                            <div class="control has-icons-left">
                                <input type="username" id="username-signup" placeholder="e.g. mike" class="input">
                                <span class="icon is-small is-left">
                                    <i class="fa fa-user"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label for="email" class="">Email:</label>
                            <div class="control has-icons-left">
                                <input type="email" id="email-signup" placeholder="e.g. mike@gmail.com" class="input">
                                <span class="icon is-small is-left">
                                    <i class="fa fa-envelope"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label for="" class="label">Password</label>
                            <div class="control has-icons-left">
                                <input type="password" id="password-signup" placeholder="e.g. password" class="input" required>
                                <span class="icon is-small is-left">
                                <i class="fa fa-lock"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field custom-margin-top-5">
                            <button id="signup-submit" class="button is-success">Sign Up</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="has-text-centered">
        <h4>Already have an account? <a id="login-redirect" href="/login" class="">Click here</a></h4>
    </div>
</section>  

<script src="/js/login.js"></script>