.custom-navbar a {
    margin-right: 2%;
}

.custom-login-logout-button {
    text-align: right;
}

.custom-title {
    text-align: center;
    padding: 30px;
}

.custom-header {
    background-color: rgb(250, 232, 210);
}

.custom-top-left-right-border-radius {
    border-radius: 5px 5px 0 0;
}

.custom-padding-4 {
    padding: 4px;
}

.custom-margin-top-5 {
    margin-top: 5%;
}