@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&family=Montserrat&family=Playfair+Display&display=swap');
* {
    font-family: 'Gentium Book Plus', serif;
}

.custom-navbar a {
    margin-right: 2%;
}

.custom-login-logout-button {
    text-align: right;
}

.custom-title {
    text-align: center;
    padding: 30px 30px 10px;
    font-size: 60px;
    text-shadow: 2px 2px 2px gray;
}

#sub-title {
    font-size: 40px;
    text-align: center;
    padding: 5px 30px 30px;
}

.custom-header {
    background-color: rgb(250, 232, 210);
}

.center-image {
    text-align: center;
}

.center-image img {
    max-width: 25%;
    height: 25%;
    padding: 20px;
}

.custom-top-left-right-border-radius {
    border-radius: 5px 5px 0 0;
}

.custom-padding-4 {
    padding: 4px;
}

.custom-margin-top-5 {
    margin-top: 5%;
}

.custom-books-section {
    margin-top: 5%;
    margin-bottom: 5%;
}

.book-lists {
    margin: 3%;
}

.book-lists li {
    list-style: none;
}

.book-description-box {
    border-top: solid black 1px;
    margin: 3%;
    padding-top: 3%;
}

.book-images {
    margin: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.add-review-button-homepage {
    background-color: azure;
    color: rgb(192, 192, 192);
}

.custom-add-review-form {
    margin: 5%;
    display: flex;
    flex-direction: column;
}

.custom-create-new-review-form {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}